**/.vs
**/.vscode
**/.DS_Store

**/*.apk
**/*.ipa
**/*.suo
**/*.exe

/*.sln
/*.csproj

/[Pp]ackages/packages-lock.json

/[Ll]ogs/
/[Bb]in/
/[Bb]uild/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Uu]sers/
/[Aa]ssetBundle/
/[Uu]ser/
